<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
        <i mat-list-icon class="{{question.icon}} icon"></i>
    </div>
    <mat-card-title>
      <h2>{{question.title}}</h2>
    </mat-card-title>
    <mat-card-subtitle>
      <small>Zefetorres - {{question.createAt | amLocale: 'es'  | amTimeAgo}}</small>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{question.description}}</p>
  </mat-card-content>
</mat-card>
<div class="answers">
  <h3>Respuestas</h3>
  <ul class="answers-list">
    <li>
      <h5>
        Rocio Torres
        <small>Hace unos segundos</small>
      </h5>
      <p class="description">
        Yo tengo la respuesta
      </p>
    </li>
    <li>
      <h5>
        Rocio Torres
        <small>Hace unos segundos</small>
      </h5>
      <p class="description">
        Yo tengo la respuesta
      </p>
    </li>
    <li>
      <h5>
        Rocio Torres
        <small>Hace unos segundos</small>
      </h5>
      <p class="description">
        Yo tengo la respuesta
      </p>
    </li>
  </ul>
  <app-answer-form></app-answer-form>
</div>
